:root {
  --max-width: 1490px;
  --border-radius: 2.5rem;

  /* Font family: */
  --font-default: 'Montserrat', Helvetica, Arial, sans-serif;
  --font-heading-and-buttons: 'Lato', Helvetica, Arial, sans-serif;

  /* Font size: */
  --font-default-size: 2rem;

  /* Font-weight: */
  --font-bold: 700;
  --font-extra-bold: 900;
  --font-medium: 600;
  --font-regular: 400;

  /* Colors: */
  --general-bg: #040521;
  --primary-color: #ffc67e;
  --secondary-color: #fff;
  --tertiary-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--general-bg);
  color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

a,
p,
em {
  font-family: var(--font-default);
}

h1,
h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}

h1 {
  font-weight: var(--font-bold);
}

h2 {
  font-weight: var(--font-extra-bold);
}

h3 {
  font-size: 2.25rem;
  font-weight: var(--font-medium);
  line-height: 2.7rem;
}

p,
em {
  font-size: var(--font-default-size);
  font-weight: var(--font-regular);
  line-height: 2.438rem;
}

em {
  font-style: italic;
}

@media only screen and (min-width: 1120px) {
  h1 {
    font-size: 4rem;
    line-height: 4.925rem;
  }

  h2 {
    font-size: 6rem;
    line-height: 7.2rem;
  }
}
